In [3]:
import pycaret
import pandas as pd 
from pycaret.classification import *
from pycaret.regression import *

In [5]:
# reading file
df = pd.read_csv("taxi_weather_grouped.csv")

In [7]:
# first 5 rows
df.head(5)

,Unnamed: 0,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),cloudcover (%),month,dayofweek,hour,DOLocationID,passenger_count,trip_distance
0,0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,4,13.0,13.10
1,1,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,13,5.0,8.91
2,2,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,24,13.0,38.40
3,3,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,41,22.0,77.32
4,4,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,42,16.0,65.17

In [8]:
# droping unnamed column
df = df.drop("Unnamed: 0", 1)

In [9]:
# viewing 5 first rows to confirm that the column was dropped
df.head(5)

,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),cloudcover (%),month,dayofweek,hour,DOLocationID,passenger_count,trip_distance
0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,4,13.0,13.10
1,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,13,5.0,8.91
2,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,24,13.0,38.40
3,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,41,22.0,77.32
4,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,42,16.0,65.17

In [12]:
# descriptive stats of data frame
df.describe()

,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),cloudcover (%),month,dayofweek,hour,DOLocationID,passenger_count,trip_distance
count,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000,536123.000000
mean,12.758740,70.383375,6.908693,11.067024,0.120472,0.117634,0.001987,41.953707,6.522078,3.000341,11.657349,150.335733,91.073030,177.718560
std,9.734032,19.198970,9.729113,12.157467,0.446178,0.440409,0.037569,37.839403,3.444259,1.996231,6.890956,74.021208,100.955257,169.896176
min,-13.800000,22.000000,-23.800000,-21.300000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000
25%,4.800000,55.000000,-0.600000,0.900000,0.000000,0.000000,0.000000,4.000000,4.000000,1.000000,6.000000,88.000000,16.000000,45.360000
50%,12.400000,72.000000,8.100000,10.300000,0.000000,0.000000,0.000000,30.000000,7.000000,3.000000,12.000000,151.000000,54.000000,130.810000
75%,20.600000,87.000000,15.100000,21.400000,0.000000,0.000000,0.000000,81.000000,10.000000,5.000000,18.000000,230.000000,135.000000,256.960000
max,36.000000,100.000000,23.900000,39.300000,7.100000,7.100000,1.960000,100.000000,12.000000,6.000000,23.000000,263.000000,899.000000,1616.740000

In [44]:
# data frame shape
df.shape

(536123, 15)

# Busyness Index
- Using percentiles for the busyness because the mean can be skewed by outliers
- For the model, busyness will be defined in the following ways:
    - Not Busy: passenger count is within the range of the 25th percentile and the minimum passenger count for the given zone
    - A little Busy: passenger count is within the range of the 25th percentile and 50th percentile
    - Busy: passenger count is within the range of the 50th percentile and 75th percentile
    - Very Busy: passenger count is greater than the 75 percentile

# Sources used to get the percentile passenger_count for each taxi zone 
- https://sparkbyexamples.com/pandas/pandas-groupby-aggregate-explained/
- https://pbpython.com/groupby-agg.html

In [39]:
# creating a new data frame with the 25th, 50th and 75th percentile passenger count for each taxi zone
percentiles = df.groupby("DOLocationID")["passenger_count"].agg([lambda x: x.quantile(0.25), 
                                                                lambda x: x.quantile(0.5), 
                                                                lambda x: x.quantile(0.75)]).reset_index()

In [40]:
percentiles.head(5)

   DOLocationID  <lambda_0>  <lambda_1>  <lambda_2>
0             4         9.0        21.0        37.0
1            12         2.0         5.0        11.0
2            13        25.0        55.0        75.0
3            24        11.0        23.0        35.0
4            41        19.0        39.0        60.0

In [41]:
# data frame shape
percentiles.shape

(66, 4)

In [65]:
# renaming percentile colmuns
percentiles.rename(columns = {"<lambda_0>" : "25th_percentile", "<lambda_1>" : "50th_percentile",
                              "<lambda_2>" : "75th_percentile"}, inplace = True)

In [67]:
# confirming column name chnage 
percentiles.head(5)

   DOLocationID  25th_percentile  50th_percentile  75th_percentile
0             4              9.0             21.0             37.0
1            12              2.0              5.0             11.0
2            13             25.0             55.0             75.0
3            24             11.0             23.0             35.0
4            41             19.0             39.0             60.0

In [70]:
# merging percentile data frame with original data frame
merged_df = pd.merge(percentiles, df, on = "DOLocationID", how = "right")

In [71]:
merged_df.shape

(536123, 18)

In [72]:
merged_df.head(5)

,DOLocationID,25th_percentile,50th_percentile,75th_percentile,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),cloudcover (%),month,dayofweek,hour,passenger_count,trip_distance
0,4,9.0,21.0,37.0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,13.0,13.10
1,13,25.0,55.0,75.0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,5.0,8.91
2,24,11.0,23.0,35.0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,13.0,38.40
3,41,19.0,39.0,60.0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,22.0,77.32
4,42,14.0,24.0,37.0,2022-02-01 00:00:00,-5.8,67,-11.0,-10.6,0.0,0.0,0.0,0,2,1,0,16.0,65.17

In [73]:
# checking data types
merged_df.dtypes

DOLocationID                   int64
25th_percentile              float64
50th_percentile              float64
75th_percentile              float64
time                          object
temperature_2m (°C)          float64
relativehumidity_2m (%)        int64
dewpoint_2m (°C)             float64
apparent_temperature (°C)    float64
precipitation (mm)           float64
rain (mm)                    float64
snowfall (cm)                float64
cloudcover (%)                 int64
month                          int64
dayofweek                      int64
hour                           int64
passenger_count              float64
trip_distance                float64
dtype: object

- Source for displaying max rows 
- https://builtin.com/data-science/pandas-show-all-columns

In [74]:
# checking for passenger count values with only one instance 
pd.set_option("display.max_rows", None)
values = merge["passenger_count"].value_counts()
print(values)

1.0      17473
2.0      13448
3.0      11433
4.0      10166
5.0       9599
6.0       8995
7.0       8336
8.0       7853
9.0       7357
10.0      7016
11.0      6626
12.0      6347
13.0      6041
14.0      5819
15.0      5585
16.0      5391
17.0      5168
18.0      5062
19.0      4930
20.0      4866
21.0      4661
22.0      4525
23.0      4415
24.0      4399
25.0      4232
26.0      4122
27.0      3985
29.0      3889
28.0      3869
30.0      3640
32.0      3615
31.0      3600
33.0      3520
34.0      3362
35.0      3354
36.0      3306
38.0      3247
39.0      3211
37.0      3172
40.0      3073
41.0      3002
42.0      2994
44.0      2897
43.0      2870
45.0      2813
46.0      2689
48.0      2678
47.0      2621
49.0      2604
50.0      2556
51.0      2546
53.0      2426
54.0      2420
52.0      2416
55.0      2338
58.0      2284
57.0      2278
56.0      2243
61.0      2190
59.0      2189
60.0      2156
64.0      2102
62.0      2088
63.0      2068
66.0      2053
67.0      2030
65.0      2002
74.0      1948
68.0      1946
69.0      1924
70.0      1912
73.0      1906
71.0      1855
75.0      1854
76.0      1845
78.0      1842
72.0      1828
77.0      1814
80.0      1809
79.0      1796
84.0      1791
83.0      1785
81.0      1769
82.0      1743
85.0      1710
86.0      1707
87.0      1704
90.0      1697
88.0      1692
93.0      1661
89.0      1654
97.0      1650
91.0      1637
103.0     1613
96.0      1609
94.0      1604
99.0      1603
92.0      1602
98.0      1592
100.0     1569
95.0      1541
102.0     1523
107.0     1520
105.0     1506
101.0     1503
104.0     1495
109.0     1486
112.0     1486
106.0     1484
113.0     1441
108.0     1427
114.0     1425
111.0     1419
116.0     1407
118.0     1400
115.0     1377
110.0     1372
120.0     1350
122.0     1338
117.0     1328
124.0     1303
125.0     1303
123.0     1295
121.0     1293
119.0     1268
131.0     1220
127.0     1210
128.0     1210
134.0     1209
138.0     1207
129.0     1201
132.0     1192
133.0     1188
126.0     1187
135.0     1171
137.0     1156
130.0     1135
140.0     1134
136.0     1127
144.0     1126
139.0     1107
148.0     1101
141.0     1100
146.0     1096
142.0     1088
150.0     1051
143.0     1048
156.0     1028
151.0     1015
147.0     1006
145.0     1002
161.0     1000
149.0      998
153.0      994
152.0      990
155.0      988
157.0      983
154.0      977
164.0      948
158.0      940
163.0      928
162.0      912
159.0      912
170.0      911
160.0      906
169.0      902
165.0      883
172.0      866
175.0      864
177.0      864
168.0      855
166.0      854
174.0      851
171.0      850
173.0      844
167.0      841
176.0      826
179.0      824
181.0      824
184.0      809
180.0      808
178.0      805
186.0      805
183.0      798
191.0      781
190.0      777
187.0      776
194.0      766
182.0      760
195.0      751
206.0      748
189.0      746
200.0      743
185.0      740
201.0      740
197.0      738
193.0      736
209.0      732
188.0      725
192.0      721
198.0      717
203.0      714
196.0      714
202.0      700
205.0      700
208.0      695
207.0      690
199.0      688
214.0      670
221.0      669
210.0      668
212.0      665
204.0      655
211.0      650
217.0      646
219.0      643
215.0      643
213.0      641
225.0      631
222.0      626
230.0      624
236.0      604
218.0      604
227.0      604
226.0      604
216.0      602
220.0      599
229.0      599
224.0      598
228.0      594
223.0      588
232.0      581
235.0      579
238.0      575
234.0      575
231.0      566
233.0      564
241.0      562
240.0      559
244.0      547
246.0      543
243.0      540
239.0      538
237.0      537
251.0      519
250.0      516
242.0      516
248.0      507
245.0      497
252.0      492
247.0      485
253.0      483
258.0      482
249.0      478
264.0      469
261.0      467
267.0      463
254.0      460
259.0      460
255.0      458
256.0      452
260.0      449
262.0      445
257.0      444
275.0      437
265.0      435
274.0      421
270.0      418
266.0      418
269.0      414
268.0      409
272.0      402
263.0      402
273.0      393
278.0      389
271.0      386
286.0      383
277.0      382
276.0      381
279.0      375
281.0      369
289.0      366
282.0      358
285.0      353
283.0      350
280.0      342
284.0      337
293.0      333
291.0      331
288.0      330
299.0      329
290.0      323
287.0      322
295.0      316
297.0      311
292.0      306
300.0      305
294.0      305
304.0      303
301.0      299
298.0      298
296.0      290
302.0      286
306.0      279
313.0      269
303.0      268
305.0      267
307.0      260
316.0      259
308.0      253
311.0      251
312.0      248
309.0      242
324.0      241
310.0      238
314.0      232
320.0      230
321.0      227
315.0      217
319.0      216
323.0      207
317.0      203
318.0      199
322.0      197
331.0      194
334.0      194
327.0      192
326.0      191
335.0      187
325.0      180
337.0      180
339.0      176
340.0      176
328.0      174
329.0      174
330.0      171
336.0      170
338.0      167
346.0      166
332.0      164
333.0      164
343.0      161
341.0      160
344.0      156
353.0      155
342.0      151
350.0      149
345.0      146
355.0      143
356.0      140
347.0      138
363.0      137
352.0      134
359.0      132
357.0      131
354.0      131
348.0      131
351.0      127
358.0      127
362.0      121
377.0      119
368.0      118
365.0      118
364.0      117
371.0      117
372.0      116
349.0      116
373.0      113
360.0      112
375.0      110
366.0      110
385.0      110
374.0      108
391.0      108
370.0      108
379.0      108
383.0      106
361.0      106
381.0      104
369.0      103
386.0      102
384.0      102
382.0      101
376.0       99
378.0       98
367.0       98
399.0       97
396.0       97
395.0       93
400.0       93
393.0       92
397.0       91
387.0       90
380.0       90
390.0       89
394.0       88
409.0       85
389.0       83
412.0       83
401.0       82
403.0       81
388.0       81
417.0       80
428.0       80
398.0       78
425.0       78
415.0       77
420.0       76
432.0       76
411.0       75
451.0       74
402.0       74
416.0       73
404.0       72
408.0       72
406.0       71
392.0       71
422.0       70
421.0       69
410.0       69
418.0       68
407.0       67
444.0       67
430.0       67
431.0       66
437.0       66
427.0       65
429.0       65
405.0       65
424.0       65
426.0       64
464.0       64
441.0       63
413.0       62
433.0       62
450.0       61
461.0       61
449.0       61
435.0       60
423.0       60
439.0       60
442.0       59
436.0       59
446.0       58
456.0       58
419.0       57
488.0       57
473.0       56
460.0       56
468.0       56
434.0       55
448.0       55
440.0       55
479.0       55
447.0       54
457.0       53
463.0       52
475.0       52
469.0       52
474.0       52
414.0       52
486.0       52
458.0       51
472.0       51
453.0       51
477.0       50
455.0       50
465.0       50
443.0       50
470.0       49
478.0       48
454.0       48
484.0       47
494.0       46
485.0       45
467.0       45
480.0       44
505.0       44
481.0       44
462.0       44
489.0       43
506.0       42
445.0       42
476.0       42
512.0       41
471.0       41
438.0       41
515.0       41
466.0       40
495.0       40
520.0       40
517.0       39
452.0       39
490.0       39
459.0       39
493.0       38
501.0       38
500.0       37
483.0       37
519.0       37
518.0       37
498.0       37
532.0       36
510.0       36
482.0       36
497.0       36
496.0       35
521.0       34
527.0       34
509.0       34
492.0       33
487.0       33
491.0       33
514.0       33
507.0       32
508.0       32
528.0       32
533.0       31
524.0       31
541.0       31
540.0       30
535.0       30
499.0       30
523.0       30
549.0       30
525.0       30
504.0       30
538.0       29
503.0       29
539.0       28
502.0       28
564.0       28
550.0       28
513.0       26
536.0       26
555.0       26
511.0       26
551.0       25
537.0       25
529.0       24
553.0       24
567.0       24
522.0       24
572.0       24
530.0       24
558.0       24
531.0       23
545.0       23
586.0       23
548.0       23
526.0       23
566.0       22
516.0       22
571.0       22
542.0       22
544.0       22
560.0       22
584.0       21
561.0       21
580.0       21
554.0       20
557.0       20
565.0       20
552.0       20
546.0       20
582.0       19
604.0       19
598.0       19
613.0       19
559.0       19
607.0       18
602.0       18
534.0       18
556.0       18
568.0       18
578.0       17
573.0       17
591.0       17
577.0       17
579.0       17
570.0       16
585.0       16
587.0       16
583.0       16
543.0       16
612.0       16
594.0       15
581.0       15
569.0       15
608.0       15
547.0       15
614.0       15
592.0       14
575.0       14
599.0       14
596.0       14
620.0       13
609.0       13
593.0       13
610.0       13
637.0       13
563.0       13
574.0       13
595.0       13
589.0       13
603.0       12
590.0       12
576.0       12
562.0       11
623.0       11
621.0       11
617.0       11
630.0       11
601.0       11
588.0       11
639.0       10
632.0       10
618.0       10
627.0        9
631.0        9
624.0        9
635.0        9
605.0        9
628.0        9
600.0        9
597.0        9
654.0        8
619.0        8
664.0        8
625.0        8
626.0        8
643.0        8
629.0        8
648.0        8
649.0        7
606.0        7
675.0        7
645.0        7
660.0        6
611.0        6
641.0        6
673.0        6
667.0        6
636.0        6
616.0        6
642.0        6
677.0        6
682.0        6
655.0        5
653.0        5
716.0        5
640.0        5
652.0        5
724.0        5
615.0        5
659.0        5
669.0        5
695.0        5
674.0        4
696.0        4
681.0        4
647.0        4
686.0        4
661.0        4
656.0        4
665.0        4
685.0        4
671.0        4
638.0        4
658.0        4
683.0        4
698.0        4
662.0        4
692.0        4
691.0        4
633.0        4
657.0        4
622.0        4
680.0        3
746.0        3
676.0        3
699.0        3
650.0        3
706.0        3
688.0        3
723.0        3
634.0        3
651.0        3
702.0        3
684.0        3
663.0        3
670.0        3
666.0        3
679.0        3
689.0        2
672.0        2
708.0        2
730.0        2
760.0        2
735.0        2
798.0        2
646.0        2
700.0        2
715.0        2
697.0        2
792.0        2
687.0        2
722.0        2
720.0        2
719.0        2
761.0        2
713.0        2
701.0        2
748.0        2
644.0        2
733.0        2
721.0        2
731.0        2
752.0        2
789.0        2
728.0        2
725.0        2
726.0        2
802.0        1
811.0        1
791.0        1
732.0        1
780.0        1
819.0        1
781.0        1
786.0        1
693.0        1
718.0        1
828.0        1
678.0        1
753.0        1
738.0        1
817.0        1
758.0        1
743.0        1
740.0        1
794.0        1
805.0        1
801.0        1
775.0        1
690.0        1
727.0        1
766.0        1
756.0        1
704.0        1
763.0        1
788.0        1
787.0        1
764.0        1
742.0        1
842.0        1
850.0        1
795.0        1
793.0        1
711.0        1
755.0        1
816.0        1
739.0        1
899.0        1
776.0        1
825.0        1
734.0        1
694.0        1
772.0        1
779.0        1
668.0        1
804.0        1
Name: passenger_count, dtype: int64

In [75]:
# removing all rows with passenger count over 667 because 668 is the lowest passenger count that only occurs once
# pycaret does not cannot processes classes with only one instance, so each passenger count value must have atleast
# two instances
merged_df = merged_df[merged_df["passenger_count"] <=667]

In [77]:
# confirming that there are no passenger_count values that only appear once
pd.set_option("display.max_rows", None)
values = merged_df["passenger_count"].value_counts()
print(values)

1.0      17473
2.0      13448
3.0      11433
4.0      10166
5.0       9599
6.0       8995
7.0       8336
8.0       7853
9.0       7357
10.0      7016
11.0      6626
12.0      6347
13.0      6041
14.0      5819
15.0      5585
16.0      5391
17.0      5168
18.0      5062
19.0      4930
20.0      4866
21.0      4661
22.0      4525
23.0      4415
24.0      4399
25.0      4232
26.0      4122
27.0      3985
29.0      3889
28.0      3869
30.0      3640
32.0      3615
31.0      3600
33.0      3520
34.0      3362
35.0      3354
36.0      3306
38.0      3247
39.0      3211
37.0      3172
40.0      3073
41.0      3002
42.0      2994
44.0      2897
43.0      2870
45.0      2813
46.0      2689
48.0      2678
47.0      2621
49.0      2604
50.0      2556
51.0      2546
53.0      2426
54.0      2420
52.0      2416
55.0      2338
58.0      2284
57.0      2278
56.0      2243
61.0      2190
59.0      2189
60.0      2156
64.0      2102
62.0      2088
63.0      2068
66.0      2053
67.0      2030
65.0      2002
74.0      1948
68.0      1946
69.0      1924
70.0      1912
73.0      1906
71.0      1855
75.0      1854
76.0      1845
78.0      1842
72.0      1828
77.0      1814
80.0      1809
79.0      1796
84.0      1791
83.0      1785
81.0      1769
82.0      1743
85.0      1710
86.0      1707
87.0      1704
90.0      1697
88.0      1692
93.0      1661
89.0      1654
97.0      1650
91.0      1637
103.0     1613
96.0      1609
94.0      1604
99.0      1603
92.0      1602
98.0      1592
100.0     1569
95.0      1541
102.0     1523
107.0     1520
105.0     1506
101.0     1503
104.0     1495
112.0     1486
109.0     1486
106.0     1484
113.0     1441
108.0     1427
114.0     1425
111.0     1419
116.0     1407
118.0     1400
115.0     1377
110.0     1372
120.0     1350
122.0     1338
117.0     1328
125.0     1303
124.0     1303
123.0     1295
121.0     1293
119.0     1268
131.0     1220
127.0     1210
128.0     1210
134.0     1209
138.0     1207
129.0     1201
132.0     1192
133.0     1188
126.0     1187
135.0     1171
137.0     1156
130.0     1135
140.0     1134
136.0     1127
144.0     1126
139.0     1107
148.0     1101
141.0     1100
146.0     1096
142.0     1088
150.0     1051
143.0     1048
156.0     1028
151.0     1015
147.0     1006
145.0     1002
161.0     1000
149.0      998
153.0      994
152.0      990
155.0      988
157.0      983
154.0      977
164.0      948
158.0      940
163.0      928
162.0      912
159.0      912
170.0      911
160.0      906
169.0      902
165.0      883
172.0      866
175.0      864
177.0      864
168.0      855
166.0      854
174.0      851
171.0      850
173.0      844
167.0      841
176.0      826
181.0      824
179.0      824
184.0      809
180.0      808
186.0      805
178.0      805
183.0      798
191.0      781
190.0      777
187.0      776
194.0      766
182.0      760
195.0      751
206.0      748
189.0      746
200.0      743
201.0      740
185.0      740
197.0      738
193.0      736
209.0      732
188.0      725
192.0      721
198.0      717
203.0      714
196.0      714
202.0      700
205.0      700
208.0      695
207.0      690
199.0      688
214.0      670
221.0      669
210.0      668
212.0      665
204.0      655
211.0      650
217.0      646
215.0      643
219.0      643
213.0      641
225.0      631
222.0      626
230.0      624
226.0      604
227.0      604
236.0      604
218.0      604
216.0      602
220.0      599
229.0      599
224.0      598
228.0      594
223.0      588
232.0      581
235.0      579
234.0      575
238.0      575
231.0      566
233.0      564
241.0      562
240.0      559
244.0      547
246.0      543
243.0      540
239.0      538
237.0      537
251.0      519
250.0      516
242.0      516
248.0      507
245.0      497
252.0      492
247.0      485
253.0      483
258.0      482
249.0      478
264.0      469
261.0      467
267.0      463
259.0      460
254.0      460
255.0      458
256.0      452
260.0      449
262.0      445
257.0      444
275.0      437
265.0      435
274.0      421
266.0      418
270.0      418
269.0      414
268.0      409
263.0      402
272.0      402
273.0      393
278.0      389
271.0      386
286.0      383
277.0      382
276.0      381
279.0      375
281.0      369
289.0      366
282.0      358
285.0      353
283.0      350
280.0      342
284.0      337
293.0      333
291.0      331
288.0      330
299.0      329
290.0      323
287.0      322
295.0      316
297.0      311
292.0      306
300.0      305
294.0      305
304.0      303
301.0      299
298.0      298
296.0      290
302.0      286
306.0      279
313.0      269
303.0      268
305.0      267
307.0      260
316.0      259
308.0      253
311.0      251
312.0      248
309.0      242
324.0      241
310.0      238
314.0      232
320.0      230
321.0      227
315.0      217
319.0      216
323.0      207
317.0      203
318.0      199
322.0      197
334.0      194
331.0      194
327.0      192
326.0      191
335.0      187
337.0      180
325.0      180
340.0      176
339.0      176
329.0      174
328.0      174
330.0      171
336.0      170
338.0      167
346.0      166
333.0      164
332.0      164
343.0      161
341.0      160
344.0      156
353.0      155
342.0      151
350.0      149
345.0      146
355.0      143
356.0      140
347.0      138
363.0      137
352.0      134
359.0      132
354.0      131
357.0      131
348.0      131
351.0      127
358.0      127
362.0      121
377.0      119
365.0      118
368.0      118
371.0      117
364.0      117
372.0      116
349.0      116
373.0      113
360.0      112
385.0      110
366.0      110
375.0      110
379.0      108
391.0      108
374.0      108
370.0      108
361.0      106
383.0      106
381.0      104
369.0      103
384.0      102
386.0      102
382.0      101
376.0       99
367.0       98
378.0       98
399.0       97
396.0       97
400.0       93
395.0       93
393.0       92
397.0       91
380.0       90
387.0       90
390.0       89
394.0       88
409.0       85
389.0       83
412.0       83
401.0       82
388.0       81
403.0       81
417.0       80
428.0       80
425.0       78
398.0       78
415.0       77
432.0       76
420.0       76
411.0       75
451.0       74
402.0       74
416.0       73
404.0       72
408.0       72
406.0       71
392.0       71
422.0       70
421.0       69
410.0       69
418.0       68
407.0       67
444.0       67
430.0       67
431.0       66
437.0       66
429.0       65
405.0       65
424.0       65
427.0       65
426.0       64
464.0       64
441.0       63
433.0       62
413.0       62
449.0       61
450.0       61
461.0       61
423.0       60
439.0       60
435.0       60
442.0       59
436.0       59
456.0       58
446.0       58
488.0       57
419.0       57
468.0       56
473.0       56
460.0       56
434.0       55
479.0       55
440.0       55
448.0       55
447.0       54
457.0       53
463.0       52
469.0       52
474.0       52
475.0       52
486.0       52
414.0       52
458.0       51
472.0       51
453.0       51
477.0       50
443.0       50
455.0       50
465.0       50
470.0       49
478.0       48
454.0       48
484.0       47
494.0       46
467.0       45
485.0       45
481.0       44
505.0       44
462.0       44
480.0       44
489.0       43
445.0       42
506.0       42
476.0       42
512.0       41
515.0       41
438.0       41
471.0       41
466.0       40
495.0       40
520.0       40
459.0       39
490.0       39
517.0       39
452.0       39
501.0       38
493.0       38
518.0       37
500.0       37
519.0       37
483.0       37
498.0       37
482.0       36
532.0       36
497.0       36
510.0       36
496.0       35
527.0       34
509.0       34
521.0       34
514.0       33
491.0       33
492.0       33
487.0       33
507.0       32
508.0       32
528.0       32
533.0       31
524.0       31
541.0       31
525.0       30
499.0       30
549.0       30
540.0       30
523.0       30
504.0       30
535.0       30
503.0       29
538.0       29
502.0       28
539.0       28
564.0       28
550.0       28
536.0       26
513.0       26
555.0       26
511.0       26
551.0       25
537.0       25
522.0       24
529.0       24
567.0       24
553.0       24
558.0       24
530.0       24
572.0       24
548.0       23
531.0       23
545.0       23
586.0       23
526.0       23
560.0       22
516.0       22
566.0       22
571.0       22
544.0       22
542.0       22
580.0       21
584.0       21
561.0       21
565.0       20
552.0       20
557.0       20
546.0       20
554.0       20
613.0       19
598.0       19
604.0       19
582.0       19
559.0       19
568.0       18
556.0       18
607.0       18
602.0       18
534.0       18
591.0       17
577.0       17
578.0       17
579.0       17
573.0       17
570.0       16
612.0       16
585.0       16
583.0       16
587.0       16
543.0       16
547.0       15
581.0       15
608.0       15
569.0       15
614.0       15
594.0       15
596.0       14
575.0       14
599.0       14
592.0       14
637.0       13
589.0       13
609.0       13
563.0       13
593.0       13
595.0       13
574.0       13
620.0       13
610.0       13
603.0       12
590.0       12
576.0       12
601.0       11
617.0       11
630.0       11
623.0       11
562.0       11
588.0       11
621.0       11
639.0       10
618.0       10
632.0       10
628.0        9
600.0        9
605.0        9
597.0        9
627.0        9
631.0        9
635.0        9
624.0        9
619.0        8
664.0        8
626.0        8
648.0        8
643.0        8
625.0        8
629.0        8
654.0        8
606.0        7
645.0        7
649.0        7
636.0        6
667.0        6
611.0        6
641.0        6
660.0        6
642.0        6
616.0        6
615.0        5
652.0        5
655.0        5
659.0        5
640.0        5
653.0        5
658.0        4
657.0        4
661.0        4
647.0        4
662.0        4
638.0        4
633.0        4
656.0        4
665.0        4
622.0        4
634.0        3
650.0        3
651.0        3
666.0        3
663.0        3
646.0        2
644.0        2
Name: passenger_count, dtype: int64

# Model
- Pycaret Sources
- https://towardsdatascience.com/introduction-to-regression-in-python-with-pycaret-d6150b540fc4
- https://github.com/pycaret/pycaret/blob/master/tutorials/Tutorial%20-%20Binary%20Classification.ipynb

In [78]:
# preparing data for model
# reduced the number of folds to decrease processing time
# numeric_features parameter used to define data types
# passenger_count assigned as target column
all_models = setup(merged_df, target = "passenger_count", fold = 5, numeric_features = ["DOLocationID", 
                                                                                     "25th_percentile",
                                                                                     "50th_percentile",
                                                                                     "75th_percentile",
                                                                                   "temperature_2m (°C)", 
                                                                                   "relativehumidity_2m (%)",
                                                                                  "dewpoint_2m (°C)",
                                                                                  "apparent_temperature (°C)",
                                                                                  "precipitation (mm)",
                                                                                  "rain (mm)",
                                                                                  "snowfall (cm)",
                                                                                  "cloudcover (%)",
                                                                                  "month",
                                                                                  "dayofweek",
                                                                                  "hour",
                                                                                  "trip_distance"])

In [79]:
# comparing models
best_models = compare_models()

In [87]:
# creating extra trees regressor model
extra_trees = create_model("et", n_estimators = 70, max_depth = 14, fold = 5)

In [ ]:
# Model max_depth had to be reduced since the model with these parameters:
# extra_trees = create_model("et", n_estimators = 70, max_depth = 15, fold = 5)
# created a pickel file that was 154MB which cannot be uploaded on github

In [88]:
save_model(extra_trees, "exta_trees_model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/var/folders/6b/tc94k9n157g920l0_fmhzz000000gn/T/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['DOLocationID', '25th_percentile',
                                              '50th_percentile',
                                              '75th_percentile',
                                              'temperature_2m (°C)',
                                              'relativehumidity_2m (%)',
                                              'dewpoint_2m (°C)',
                                              'apparent_temperature (°C)',
                                              'precipitation (mm)', 'rain (mm)',
                                              'snowfall (...
                  TransformerWrapper(include=['time'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['time'],
                                     transformer=TargetEncoder(cols=['time'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(max_depth=14, n_estimators=70, n_jobs=-1,
                                      random_state=2414))]),
 'exta_trees_model.pkl')